@media only screen and (max-width: 830px) {
    .home-intro {
        flex-direction: column;

        .home-intro-container {
            text-align: center;

            .txt {
                max-width: 100%;
                // outline: 2px solid red;
            }
        }

        .explore-button {
            margin-top: 2rem;
            align-self: center;
        }
    }
}

@media only screen and (max-width: 560px) {
    .nav-container {
        width: 0;
        overflow: hidden;
        position: absolute;

        flex-direction: column;
        right: 0;

        top: 50px;
    }

    .nav {
        label::before {
            display: block;
        }
    }
}

@media only screen and (max-width: 560px) {
}
