body {
    min-height: 100vh;
    background: {
        image: url(../home/background-home-desktop.jpg);
        repeat: no-repeat;
        position: center;
    }
    color: var(--clr-white);
    padding: 0.1px; //? prevent margin collapse
    background-size: cover;

    display: flex;
    flex-direction: column;
}

// !------nav-bar------

nav {
    font-family: var(--ff-nav);
    font-size: var(--sic);
    font-weight: 300;
    margin-top: 2rem;

    padding-inline: 2rem;
    backdrop-filter: blur(20px);

    .nav {
        display: flex;
        align-items: center;
        padding-block: 0.5rem;

        .nav-container {
            display: flex;
            align-items: center;
            gap: 3rem;

            transition: all 0.3s ease;
        }

        &__items {
            font-size: 0.9rem;
        }

        &__logo {
            margin-right: auto;

            img {
                max-width: 80%;
            }
        }

        .actv {
            position: relative;
            &::before {
                content: "";
                inset: 0%;
                top: 90%;

                position: absolute;
                background-color: var(--clr-white);
                border-radius: 2rem;
            }
        }
    }
}

// !------home-intro------

.home-intro {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-block: 2rem;
    padding-inline: clamp(1rem, 6vw, 3rem);

    .title-semi {
        font-family: "Abel", sans-serif;
        font: {
            size: 1.7rem;
        }
    }

    .title-main {
        font: {
            size: clamp(3rem, 22vw, 7rem);
            weight: 400;
        }
    }

    .txt {
        max-width: 350px;
        font: {
            family: "Abel", sans-serif;
        }
    }

    .explore-button {
        width: 170px;
        aspect-ratio: 1/1;
        align-self: flex-end;

        display: grid; //? to center txt
        place-items: center;

        background-color: var(--clr-white);
        color: var(--clr-black);
        border-radius: 50%;

        cursor: pointer;
    }
}

//! hamburger for navigation

.nav {
    label {
        position: relative;
    }

    label::before {
        aspect-ratio: 1/1;
        width: 30px;
        content: "";
        position: absolute;
        right: 0;
        transform: translate(-50%, -50%);
        display: none;

        background: {
            image: url(../shared/icon-hamburger.svg);
            repeat: no-repeat;
            size: cover;
            position: center;
        }

        // outline: 2px solid red;
    }

    input {
        position: absolute;
        visibility: hidden;
    }

    input:checked + div {
        height: auto;
        width: 200px;
        outline: 2px solid white;
        border-radius: 25px;
        background-color: rgba(0, 0, 0, 0.741);
        backdrop-filter: blur(20px);

        padding-block: 3rem;
    }
}
