@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"); //!

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap"); //!
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// !------custom-variables------

:root {
    // ?-----colors-----
    --clr-white: white;
    --clr-black: black;
    // ?-----font-families-----
    --ff-nav: "Oswald", sans-serif;
    --ff-title-main: "PT Serif", serif;
    --ff-title-semi: "Open Sans Condensed", sans-serif;
}
// !------utility-classes------

.wid-1200px {
    max-width: 1200px;
    margin-inline: auto;
}

.txt {
    font: {
        family: var(--ff-title-semi);
    }
}

.title-main {
    font: {
        family: var(--ff-title-main);
    }
}

.title-semi {
    font: {
        family: var(--ff-title-semi);
    }
}

// !------controlled-tags-------

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
